.auth-wrapper {
    padding: 20px;
    text-align: left;
}
.auth-wrapper h2{
    text-align: left;
    white-space: nowrap;
}
.auth-wrapper h3{
    text-align: left;
    white-space: nowrap;
}
.auth-wrapper .reason,
.auth-wrapper .from{
    font-size: 12px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.auth-wrapper .request-proof {
    font-size: 12px;
    text-align: center;
}
.auth-wrapper img{
    width: 100px
}

.auth-wrapper .button-section {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}
.auth-wrapper .button-section button{
    margin: 0 11px;
}

.auth-wrapper .error {
    margin-top: 6px;
}
.auth-wrapper .progress{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-logo {
    background-color: #ffffff;
    padding: 6px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 6px;
}

.auth-box {
    background-color: #f5f8fa;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    text-align: center;
    margin-top: 11px;
    width: 100%;
}

.auth-box-message {
    background-color: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-radius: 11px;
    text-align: left;
    margin-top: 6px;
    width: 100%;
}